In [234]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [235]:
df = pd.read_csv("DT-Wage.csv")
df

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.041393,154.685293
2996,2007,30,2. Married,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.602060,99.689464
2997,2005,27,2. Married,2. Black,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.193125,66.229408
2998,2005,27,1. Never Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,4.477121,87.981033
2999,2009,55,5. Separated,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.505150,90.481913

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 257.9+ KB

In [237]:
df = df.drop(columns=['year','age'])
df

,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...
2995,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.041393,154.685293
2996,2. Married,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.602060,99.689464
2997,2. Married,2. Black,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.193125,66.229408
2998,1. Never Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,4.477121,87.981033
2999,5. Separated,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.505150,90.481913

In [238]:
df.isnull()

,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [239]:
from sklearn.preprocessing import LabelEncoder

# Copy the original DataFrame
df_new = df.copy()

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Apply Label Encoding to each specified column
for column in ['maritl','race','education','region','jobclass','health','health_ins','logwage','wage']:
    df_new[column] = label_encoder.fit_transform(df_new[column])

df_new

,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,0,0,0,0,0,0,1,125,125
1,0,0,3,0,1,1,1,104,104
2,1,0,2,0,0,0,0,353,353
3,1,2,3,0,1,1,0,425,425
4,3,0,1,0,1,0,0,125,125
...,...,...,...,...,...,...,...,...,...
2995,1,0,2,0,0,1,0,425,425
2996,1,0,1,0,0,1,1,235,235
2997,1,1,0,0,0,0,1,84,84
2998,0,0,2,0,0,1,0,183,183
2999,4,0,1,0,0,0,0,194,194

In [240]:
df_new.columns

Index(['maritl', 'race', 'education', 'region', 'jobclass', 'health',
       'health_ins', 'logwage', 'wage'],
      dtype='object')

In [241]:
df_new = (df_new-df_new.min())/(df_new.max()-df_new.min())
df_new

,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,0.00,0.000000,0.00,NaN,0.0,0.0,1.0,0.246548,0.246548
1,0.00,0.000000,0.75,NaN,1.0,1.0,1.0,0.205128,0.205128
2,0.25,0.000000,0.50,NaN,0.0,0.0,0.0,0.696252,0.696252
3,0.25,0.666667,0.75,NaN,1.0,1.0,0.0,0.838264,0.838264
4,0.75,0.000000,0.25,NaN,1.0,0.0,0.0,0.246548,0.246548
...,...,...,...,...,...,...,...,...,...
2995,0.25,0.000000,0.50,NaN,0.0,1.0,0.0,0.838264,0.838264
2996,0.25,0.000000,0.25,NaN,0.0,1.0,1.0,0.463511,0.463511
2997,0.25,0.333333,0.00,NaN,0.0,0.0,1.0,0.165680,0.165680
2998,0.00,0.000000,0.50,NaN,0.0,1.0,0.0,0.360947,0.360947
2999,1.00,0.000000,0.25,NaN,0.0,0.0,0.0,0.382643,0.382643

In [242]:
df_new['region'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
2995    True
2996    True
2997    True
2998    True
2999    True
Name: region, Length: 3000, dtype: bool

In [243]:
df_new = df_new.drop(columns=['region'])
df_new

,maritl,race,education,jobclass,health,health_ins,logwage,wage
0,0.00,0.000000,0.00,0.0,0.0,1.0,0.246548,0.246548
1,0.00,0.000000,0.75,1.0,1.0,1.0,0.205128,0.205128
2,0.25,0.000000,0.50,0.0,0.0,0.0,0.696252,0.696252
3,0.25,0.666667,0.75,1.0,1.0,0.0,0.838264,0.838264
4,0.75,0.000000,0.25,1.0,0.0,0.0,0.246548,0.246548
...,...,...,...,...,...,...,...,...
2995,0.25,0.000000,0.50,0.0,1.0,0.0,0.838264,0.838264
2996,0.25,0.000000,0.25,0.0,1.0,1.0,0.463511,0.463511
2997,0.25,0.333333,0.00,0.0,0.0,1.0,0.165680,0.165680
2998,0.00,0.000000,0.50,0.0,1.0,0.0,0.360947,0.360947
2999,1.00,0.000000,0.25,0.0,0.0,0.0,0.382643,0.382643

In [244]:
y = df_new['wage']
X = df_new.drop(columns=['wage', 'logwage'])

Yarr = y.to_numpy()
Xarr = X.to_numpy()

print("Shape of Y:", Yarr.shape)
print("Shape of X:", Xarr.shape)

Shape of Y: (3000,)
Shape of X: (3000, 6)

In [245]:
import numpy as np

def shuffle_and_split_data(X, Y, test_ratio, val_ratio):
    # Shuffle indices
    shuffled_indices = np.random.permutation(len(X))
    
    # Calculate the sizes for test and validation sets
    test_set_size = int(len(X) * test_ratio)
    val_set_size = int(len(X) * val_ratio)
    
    # Get indices for each set
    test_indices = shuffled_indices[:test_set_size]
    val_indices = shuffled_indices[test_set_size:test_set_size + val_set_size]
    train_indices = shuffled_indices[test_set_size + val_set_size:]
    
    # Split the data
    return (X[train_indices], X[val_indices], X[test_indices], 
            Y[train_indices], Y[val_indices], Y[test_indices])

In [246]:
Xtrain_set, Xval_set, Xtest_set, Ytrain_set, Yval_set, Ytest_set = shuffle_and_split_data(Xarr, Yarr, test_ratio=0.15, val_ratio=0.15)

In [247]:
print("Shape of Xtrain_set:", Xtrain_set.shape)
print("Shape of Ytrain_set:", Ytrain_set.shape)

Shape of Xtrain_set: (2100, 6)
Shape of Ytrain_set: (2100,)

In [248]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor ,plot_tree
import matplotlib.pyplot as plt

In [249]:
clf = DecisionTreeRegressor(max_depth=5,random_state=42)

In [250]:
clf.fit(Xtrain_set,Ytrain_set)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [251]:
y_val_pred = clf.predict(Xval_set)
y_test_pred = clf.predict(Xtest_set)

In [252]:
def calculate_mse(y_true, y_pred):
    n = len(y_true)
    mse = sum((y_t - y_p) ** 2 for y_t, y_p in zip(y_true, y_pred)) / n
    return mse
    
mse1 = calculate_mse(Yval_set, y_val_pred)
print("Mean Squared Error:", mse1)

Mean Squared Error: 0.036361847215825555

In [253]:
mse2 = calculate_mse(Ytest_set, y_test_pred)
print("Mean Squared Error:", mse2)

Mean Squared Error: 0.03467865742156943

In [254]:
from xgboost import XGBRegressor
model = XGBRegressor()

model.fit(Xtrain_set, Ytrain_set)
y_train_pred_xgb = model.predict(Xtrain_set)
y_val_pred_xgb = model.predict(Xval_set)
y_test_xgb = model.predict(Xtest_set)

In [255]:
mse3 = calculate_mse(Ytrain_set, y_train_pred_xgb)
print("Mean Squared Error:", mse3)

Mean Squared Error: 0.02886005122601649

In [256]:
mse4 = calculate_mse(Yval_set, y_val_pred_xgb)
print("Mean Squared Error:", mse4)

Mean Squared Error: 0.038068191543738285

In [257]:
mse5 = calculate_mse(Ytest_set, y_test_xgb)
print("Mean Squared Error:", mse5)

Mean Squared Error: 0.03772027665547207